<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.willshawmedia.phonegap.NativeChecks"
    version="1">

    <name>NativeChecks</name>
    <description>Lookup simple native information</description>

    <js-module src="www/native-checks.js" name="NativeChecks">
        <clobbers target="NativeChecks" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
          <feature name="NativeChecks">
            <param name="ios-package" value="NativeChecks"/>
          </feature>
        </config-file>

        <header-file src="src/ios/NativeChecks.h" />
        <source-file src="src/ios/NativeChecks.m" />
    </platform>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="NativeChecks">
                <param name="android-package" value="com.willshawmedia.phonegap.NativeChecks"/>
            </feature>
        </config-file>
        <source-file src="src/android/NativeChecks.java" target-dir="src/com/willshawmedia/phonegap" />      
    </platform>


</plugin>
